<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/Css/cdn.jsdelivr.net_npm_bootstrap@5.3.0_dist_css_bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/Css/style.css">
    <link rel="stylesheet" href="../assets/Css/stackpath.bootstrapcdn.com_bootstrap_4.3.1_css_bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="icon" type="image/x-icon" href="../assets/Images/company_logo.png">
    <title>User Login page</title>
</head>
<body> 
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Cloudflare</a>
          <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup">
            <div class="navbar-nav ">
              <a class="nav-link" href="#">Home</a>
              <a class="nav-link" href="#">About</a>
              <a class="nav-link" href="#">Contact Us</a>
            </div>
          </div>
        </div>
      </nav>
    <div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto py-4 px-0">
            <div class="card p-0">
                <div class="card-title text-center">
                    <h5 class="mt-5"> Welcome to cloudflare</h5> <small class="para">Login to your cloudflare account below.</small>
                </div>
                <form class="signup">
                    <div class="form-group"><input type="text" id="Username" class="form-control" placeholder="Username"></div>
                    <div class="form-group"><input type="password" id="Password" class="form-control" placeholder="password"></div>
                    <div id="errors" style="color: red;"></div>
                     <button type="button" id="LoginValidation" class="btn btn-primary">Login</button>
                    <div class="row">
                        <div class="col-sm-9">
                           <a href="UserSignUp.html"><p class="text-right pt-2 mr-1">Or Sign Up Now</p></a>
                        </div>
                    </div> <span class="text-center">Or</span> <span class="text-center pt-3">Login Using</span>
                    <div class="row">
                        <div class="d-flex mx-auto pt-1 pb-3"> <a href="#"><i class="fab fa-facebook"></i></a> <a href="#"><i class="fab fa-twitter"></i></a> <a href="#"><i class="fab fa-linkedin"></i></a> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../scripts/stackpath.bootstrapcdn.com_bootstrap_4.3.1_js_bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="../scripts/cdnjs.cloudflare.com_ajax_libs_jquery_3.2.1_jquery.min.js" type="text/javascript"></script>
<script src="../scripts/UserLoginValidation.js" type="text/javascript"></script>
</html>